felix-cache
bundle
target
.project
.classpath
.idea
*.iml
*.ipr
*.iws
*.swp
*~
.externalToolBuilders
.settings
.DS_Store
*.log
*.log.*
DB*
ObjectStore
*.pid
log
PutObjectStoreDirHere
asfHistory.dat
.gradle
build
